.sslider{
   
    overflow: hidden;
    margin: 0 0;
    align-self: center;
    justify-self: center;
    position:relative;
    display: block;
    
   
}
.slider-div{
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
}


.sslide img
{
width: 30em;
height: 30em;
object-fit: cover;
object-position: 50% 50%;
align-self: center;
justify-self: center;
border-radius: 10px;

}

.sslide{
    
position:relative;
transform: scale(0.4);
transition: transform 300ms ;
opacity: 1;
margin: 0 auto;
align-self: center;
justify-self: center;
align-items: center;
justify-content: center;

}


.activeSlide{
    transform: scale(1);
    justify-self: center;
    opacity: 1;
    align-self: center;
 
    
}






.arrow{
    background-color: rgb(0, 0, 0);
    position:absolute;
    cursor: pointer;
    border-radius: 100%;
    z-index: 10;
    size: 3em;
    padding: 10px;

}

.arrow svg{
    color: rgb(255, 255, 255);
    transition: 0.3s; 
    size: 3em;
}
.arrow svg:hover{
    color: #f60404 
}

.slick-list{
      width: 100%;
      align-items: center;
      justify-content: center;
      /* margin: 0px auto; */
 }

 .slider-img{
    justify-self: center;
    align-self: center;
    margin: 0 auto;
 }

 .slick-track{
    justify-self: center;
    align-items: center;
    align-self: center;
    justify-content: center;
 }
 .slick-slide{
    justify-self:center ;
    align-self: center;
 }
.slick-slider{
    justify-content: center;
    width: 100%;
    justify-self: center;
    align-self: center;
    align-items: center;

    
}
.slider-div{
   
    width: 100%;
    height: 90%;
    top:50%;
    justify-content: center;
    align-self: center;
    align-items: center;

   
}

.next{
    top:50%;
    right:0%;
}


.perv{
    bottom:50%;
    left: 0%;
}


@media (max-width: 1000px)  {

.slick-list{
      align-self: center ;
      justify-self: center;
      align-items: center;
      justify-content: center;
      /* padding: 0 30%; */
}




}

@media (max-width: 850px)  {
    
    .slick-list{
    }

        .sslide img
      {

        width: 30em;
        height: 30em;

     }
    
}

@media (max-width: 650px)  {
    .slick-list{
                /* padding: 0 20%; */

    }
}
@media (max-width:450px){
 .slick-list{
            
        /* padding: 0 0; */

}

  .sslide img
      {

        width: 25em;
        height: 25em;

     }

}

@media (max-width: 400px)  {
    .slick-list{
       
    }
    
}