
body{
    font-size: 16px
}


.FAQ {
  font-family: sans-serif;
  text-align: center;
  border-radius: 5px;
  margin-top: 0.4em;
}

.question-section {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid #fff;
  width: 80vw;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 4em;
  text-align: left;
  justify-content: space-around;
}

.question-align h4 {
  margin-left: 8px;
}

.question-style {
  font-size: 1.2em;
  font-family: Cinzel Decorative;
  width: 80%;
  color: #fff;
}

.question-icon {
  background: none;
  border: none;
  color: #8f1111;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
  transition: 0.4s;
}

.rotate {
  transition: 0.4s;
  transform: rotate(45deg);
}

.answer-divider {
  border-top: 1px solid lightgray;
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
 font-family: Unica One;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
  text-transform: uppercase;
}
.answer-style{
  text-align: center;
  margin: 1em ;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}

.FAQ a {
  color: rgb(234, 211, 2);
  transition: 0.8s ease-in-out;
}

.FAQ a:hover {
  color: rgb(198, 0, 0);
}